.hidden{
    display: none;
}

header{
    display: flex;
    justify-content:space-between;
    margin: 10px;
}

nav{
    font-size: 24px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    background-color:bisque;
    padding: 10%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: content-box;
}

#quiz h1{
    color:seagreen;
    font-size: 48px;
}

#quiz p{
    font-size: 24px;
    font-weight: bolder;
    margin: 5%;
}

#quiz button{
    font-size: 30px;
    padding: 0px 10% 0px 10%;
    margin: 5%;
}

/* Play shake animation for anything that has the shake class */
.shake{
    animation-name: shake-error;
    animation-duration: .25s;
    animation-iteration-count: infinite;
}

@keyframes shake-error{
    0%{transform: translateX(5px);}
    25%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(5px);}
}

/* Play expand and shrink animation for correct answer */
.expand{
    animation-name: expand-success;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes expand-success{
    0%{transform: scale(100%);}
    25%{transform: scale(85%);}
    50%{transform: scale(110%);}
    100%{transform: scale(100%);}
}